body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

#grid {
  display: grid;
  background-color: green;
  color: white;
  width: 80%;
  height: 80vh;
  grid-gap: 5px;
  padding: 5px;

  /* Define grid structure: 4 columns and 4 rows */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#grid > div {
  background-color: white;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1st box spans full width */
#grid div:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

/* 2nd box in first column */
#grid div:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* 3rd box next to 2nd */
#grid div:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* 4th box next to 3rd */
#grid div:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

/* 5th box below 3rd */
#grid div:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* 6th box at top-right */
#grid div:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

/* 7th box below 2nd */
#grid div:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

/* 8th box in middle bottom */
#grid div:nth-child(8) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* 9th box below 8th */
#grid div:nth-child(9) {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

/* 10th box bottom-left */
#grid div:nth-child(10) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}